.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f2fff1;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pop_up_image_rectangle {
  background-color: rgb(203, 203, 203);
  height: 300px;
  border-radius: 10px;
}

.pop_up_image_rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: -10px;
}

.pop_up_image_upload {
  background-color: #BDBDBD;
  height: 40px;
  border-radius: 10px;
  margin-top: -15px;

  text-align: center;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.pop_up_image_upload:hover {
  background-color: #1E9D13;
  color: rgb(255, 255, 255);
}

.pop_up_input_image {
  display: none;
}

.pop_up_add_colaborador {
  background-color: transparent;
  height: 40px;
  border-radius: 10px;
  margin-top: 25px;

  text-align: center;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;

  border: 2px solid rgb(0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.pop_up_add_colaborador:hover {
  background-color: #1E9D13;
  color: rgb(255, 255, 255);
}

.pop_up_add_categoria {
  background-color: transparent;
  height: 40px;
  border-radius: 10px;
  margin-top: 25px;

  text-align: center;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;

  border: 2px solid rgb(0, 0, 0);

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.pop_up_add_categoria:hover {
  background-color: #1E9D13;
  color: rgb(255, 255, 255);
}

#eventDescription {
  height: 10rem;
  width: 60%;
}

/* Nome */

.pop_up_formulario {
  display: flex;
  justify-content: space-between;
}

#eventName {
  display: none;
}

.popup_nome_evento {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Data */

.popup_data {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.popup_data_input {
  /* deixa mais bonito */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);


}

/* Descrição */

.popup_descricao {
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
}

/* Localização */

.popup_localizacao {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#eventLocation {
  display: none;
}

/* Preço */

.popup_preco {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#eventPrice {
  display: none;
}

/* Lotação */
.popup_capacity {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: rgb(0, 0, 0) !important;
}

#eventCapacity {
  display: none !important;
}

/* Criar evento botão */
.popup_criar_botao {
  background-color: #1E9D13;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.popup_criar_botao:hover {
  background-color: #000000;
  color: #ffffff;
}