body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: white;
    color: white;
    align-items: center;
}

body {
    margin: 0;
    padding: 0 100px;
    font-family: Inter, sans-serif;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 3rem;
}

.navbar {
    background-color: white;
    color: black;
    overflow: auto;
}

.navbar-container {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    color: black;
    align-items: center;
    margin: 0;
    padding: 30px 0px;
    display: flex;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
}

.navbar-menu li {
    padding: 14px 16px;
}

.navbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-user a {
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 4px;
    color: black;
}

.navbar-user button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-user input {
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-event-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-container {
    display: flex;
    overflow-x: auto;
}

.event-card {
    background-color: gray;
    margin-right: 20px;
    width: 200px;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0
}

.view-all-container {
    display: flex;
    justify-content: flex-end;
}

.view-all-button {
    padding: 10px 20px;
    background-color: #DEDEDE;
    color: black;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}