:root {
    --primary-color: #4CAF50;
    --secundary-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: white;
    color: white;
    align-items: center;
}

body {
    margin: 0;
    padding: 0 100px;
    font-family: Inter, sans-serif;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    color: black;
    font-weight: 700;
    font-size: 3rem;

}

.navbar {
    background-color: white;
    color: var(--secundary-color);
    overflow: auto;
}

.navbar-container {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    color: black;
    align-items: center;
    margin: 0;
    padding: 30px 0px;
    display: flex;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
}

.navbar-menu li {
    padding: 14px 16px;
}

.navbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-user a {
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 4px;
    color: black;
}

.navbar-user button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-user input {
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.events-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.create-event-button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.event-container {
    display: flex;
    overflow-x: auto;
}


.view-all-container {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

.view-all-button {
    padding: 10px 20px;
    background-color: #DEDEDE;
    color: black;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.view-all-button a {
    text-decoration: none;
    color: black;
}

.flash-error {
    color: white;
    background-color: red;
}

.flash-success {
    color: white;
    background-color: green;

}

.event-card-container {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    position: relative;
    width: 270px;
    height: 25rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 20px;
    background: #fff;
}

.event-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


.event-card:hover {
    cursor: pointer;
}

.event-date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #004d40;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
}

.event-image {
    width: 100%;
    display: block;
}

.event-info {
    position: absolute;
    top: 50%;
    padding-right: 10px;
}

.event-title {
    margin: 8px 0;
    font-size: 2rem;
    color: white;
}

.event-details-btn,
.event-status-btn {
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-details-btn {
    border: 1px solid white;
    color: white;
}

.event-status-btn {
    background-color: #ef5350;
    color: white;
    font-size: 12px;
}

.event-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.event-content {
    display: block;
    position: relative;
    text-align: right;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.event-day {
    margin-top: -10px;
    font-size: 44px;
}

.event-month {
    font-size: 1.25rem;
    margin-top: -10px;
}

.pop_up_image_rectangle {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.pop_up_image_rectangle img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.edit-event-button {
    box-sizing: border-box;
    color: #11CF01;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 20px;
    z-index: 1;
}

.event-content,
.event-info,
.event-details,
.event-title,
.event-details-btn,
.event-status-btn {
    color: white;
}

.edit-event-button::before,
.edit-event-button::after {
    pointer-events: none;
}

.inscrever-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}