<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/navbar_style.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/pop_up.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="/static/images/logo_icon.svg">

  <title>DETI EVENTOS </title>
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Navbar -->
  <nav class="navbar_style navbar navbar-expand-lg navbar-light bg-light" style="padding: 20px;">
    <a href="/">
      <img src="/static/images/DETI.svg" alt="DETI Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link navbar_style_links" href="/todos_os_eventos">Todos os eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_style_links" href="#">Meus Eventos</a>
        </li>
      </ul>
      <form class="form-inline ml-auto" action="/search" method="get">
        <input class="form-control mr-sm-2 navbar_style_search" type="text" placeholder="" name="q"
          aria-label="Campo_Pesquisa">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"
            aria-label="Botao_Pesquisar"></i></button>
      </form>

      {% if not user%}
      <a class="nav-link ml-2 navbar_style_login" href="/login">
        <img class="login-icon" src="static/images/user_icon.svg" alt="User Icon">
        Login
        {% endif %}
        {% if user %}
        <a class="nav-link ml-2 navbar_style_login" href="/meus_eventos">
          <img class="login-icon" src="static/images/user_icon.svg" alt="User Icon">
          {{ name }}
          {% endif %}

        </a>

        <a class="nav-link ml-2 navbar_style_login" href="/logout">
          Logout
        </a>
    </div>
  </nav>


  <div class="login-content">
    <form method="POST">
      <!-- <img class="login-img" src="../static/img/avatar.svg"> -->
      <h3 align="center">Login</h3>
      <div class="input-div">
        <label for="email"></label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" />
      </div>
      <div class="input-div">
        <label for="password"></label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
      </div>
      <br />
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>



<script>
  // Make flash messages disappear after 3 seconds
  setTimeout(function () {
    var alerts = document.getElementsByClassName('alert');
    for (var i = alerts.length - 1; i >= 0; i--) {
      alerts[i].style.display = 'none';
    }
  }, 1000);
</script>
</body>

</html>