<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <link rel="icon" href="/static/images/logo_icon.svg">
  <title>DETI EVENTOS </title>
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="login-content">
    <form method="POST">
      <!-- <img class="login-img" src="../static/img/avatar.svg"> -->
      <h3 align="center">Login</h3>
      <div class="input-div">
        <label for="email"></label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" />
      </div>
      <div class="input-div">
        <label for="password"></label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
      </div>
      <br />
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</body>

</html>


<script>
  // Make flash messages disappear after 3 seconds
  setTimeout(function () {
    var alerts = document.getElementsByClassName('alert');
    for (var i = alerts.length - 1; i >= 0; i--) {
      alerts[i].style.display = 'none';
    }
  }, 1000);
</script>
</body>

</html>