<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
          <ul class="navbar-menu">
            <a href="/">LOGO</a>
            <li><a href="/myevents">Meus Eventos</a></li>
          </ul>
          <div class="navbar-user">
            <form class="search-form">
                <input type="text" placeholder="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form></button>
            </form>
            <a href="/login">Login</a>
          </div>
        </div>
      </nav>
    <h1>Próximos Eventos</h1>
    <button>Criar Evento</button>
    <div>
        <cointainer>
            <div>
                <img src="https://via.placeholder.com/150" alt="Imagem do Evento">
            </div>
            <div class="event-presentation">
                <h2>Nome do Evento</h2>
                <p>Data do Evento</p>
                <p>Local do Evento</p>
            </div>
    </div>
    <button>Ver Todos</button>
</body>
</html>