<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Página Principal</title>
</head>
<body>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div id="flash-message" class="alert alert-{{ category }} flash-error">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="navbar">
        <div class="navbar-container">
          <ul class="navbar-menu">
            <a href="/">LOGO</a>
            <li><a href="/myevents">Meus Eventos</a></li>
          </ul>
          <div class="navbar-user">
            <form class="search-form">
                <input type="text" placeholder="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form></button>
            </form>
            <a href="/login">Login</a>
          </div>
        </div>
      </nav>
      <div class="events-header">
        <h1>Próximos Eventos</h1>
        <button class="create-event-button" > <a class = "create-event-button" href= "/criar"> Criar Evento </a> </button>
    </div>
    <div class="event-card">
      <div class="event-content">
        <div class="event-day">22</div>
        <div class="event-month">abril</div>
      </div>
      <img src="https://via.placeholder.com/150" alt="Nome evento" class="event-image">
      <div class="event-info">
        {% for event in events %}
        <h2 class="event-title">{{event[1]}}</h2>
        <div class="event-details">
          <p class="event-details-btn">Ver detalhes</p>
          <button class="event-status-btn">{{event[4]}}</button>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="view-all-container">
        <button class="view-all-button">Ver Todos</button>
    </div>
</body>
</html>

<script>
  setTimeout(function() {
      const flashMessage = document.getElementById('flash-message');
      if (flashMessage) flashMessage.style.display = 'none';
  }, 2000);
</script>